.App {
  text-align: center;

  display: flex;
}

.left-pane {
  width: 220px;
  border-right: 2px solid black;
  z-index: 1;
}

.right-pane {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

/* This is required due to a bug in react-datepicker */
ul {
  padding: 0px;
}